@using OnlineDars.Service.ViewModels.Accounts;
@model AccountBaseViewModel
<li><a asp-controller="accounts" asp-action="Logout">@Model.FirstName<img src="https://localhost:7009/assets/images/profile-header.jpg" alt=""></a></li>
