@using OnlineDars.Service.ViewModels.Videos;
@model VideoViewModel

<div>
    <div class="col">
        <div class="fa-video">
            <video id="videoPlayer" src="@Url.Content(Model.VideoPath)" oncontextmenu="return false" controls autoplay controlsList="nodownload" style="max-height:1000px; max-width :1200px; width: 100%;" />
        </div>
        <div class="text-white">
            <h2>

                <font class="text-lg-start">@Model.Title</font>
            </h2>
            <div>
                <br>

                <p class="text-lg-start; text-white-50" style="width: 100%; ">@Model.Description</p>
                <div class="text-end">

                    <p style="color:white">
                        @Model.ViewsCount

                        <svg height="27px" viewBox="0 0 32 32" width="27px" class="text-white">

                            <g id="view" fill="#939495">
                                <circle cx="16" cy="16" r="6" />
                                <path fill="#939495" d="M16,6C6,6,0,15.938,0,15.938S6,26,16,26s16-10,16-10S26,6,16,6z M16,24c-8.75,0-13.5-8-13.5-8S7.25,8,16,8s13.5,8,13.5,8   S24.75,24,16,24z" />
                            </g>
                        </svg>
                    </p>
                </div>

            </div>
        </div>

    </div>



</div>
