@using OnlineDars.Service.Dtos.Accounts;
@model AccountRegisterDto
@{
	Layout = "_AccountLayout.cshtml";
}

<div class="card-3d-wrap mx-auto">
		<div class="card-3d-wrapper">
			<div class="card-front">
				<div class="center-wrap">
					<div class="section text-center">
					<form asp-area="" asp-controller="accounts" asp-action="register" method="post">
						<h4 class="mb-4 pb-3" style="color:whitesmoke">Sign Up</h4>
						<div class="form-group">
							<input type="text" asp-for=FullName class="form-style" placeholder="Your Full Name">
							<i class="mt-3 input-icon fa fa-user"></i>
							<span asp-validation-for="FullName" class="text-danger"></span>
						</div>
						<div class="form-group mt-2">
							<input type="email" asp-for="Email" class="form-style" placeholder="Your Email" >
							<i class="mt-3 input-icon fa fa-at"></i>
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-group mt-2">
							<input type="password" asp-for="Password" class="form-style" placeholder="Your Password" >
							<i class="mt-3 input-icon fa fa-lock"></i>
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>

						<input type="submit" class="btn mt-4 me-5" style="background-color :#C13674"/>
						<span>
							<a asp-controller="accounts" asp-action="login" class="btn mt-4 " style="background-color :#C13674">log In</a>
						</span>
					</form>

					</div>
				</div>

			</div>
		</div>
</div>


